.first-container {
	top: 35px;
	width: 100%;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 150px;
	z-index: 11;
	background: url('../jpg/blue-galaxy.jpg');
	background-size: 100% 100%;
	transition: 1s;

	.container-blur {
		width: 100%;
		height: 500px;
		top: 130px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		position: absolute;
		filter: blur(5px);
		z-index: 6;

		.image {
			width: 400px;
			height: 400px;
			margin-left: 200px;
			animation: spinAnimation 5s infinite;
			max-width: 1200px;
			max-height: 1200px;
			position: absolute;
			background: url('../svg/Circles-1.svg');
			background-size: 100% 20%;
		}
	}

	.dark-glass-background {
		display: flex;
		flex-direction: column;
		border: 3px solid #FAF5EF;
		background-color: rgba(#FAF5EF, 0.6);
		padding: 50px;

		.title {
			padding: 20px;
			font-size: 30pt;
			z-index: 10;
	
			strong {
				font-size: 35pt; 
			}
		}
	
		.subtitle {
			color: lighten(#1F1F1F, 10%);
			padding: 10px;
			padding-bottom: 30px;
			font-size: 20pt;
			text-align: justify;
			z-index: 10;
		}
	
		.button-container {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			gap: 20px;
			z-index: 10;
	
			.button {
				display: inline-block;
				padding: 10px;
				border: 2px solid rgba(250, 245, 239, 90%);
				border-radius: 5px;
				background-color: transparent;
				transition: all .5s ease-out;
				font-size: 18pt;
				cursor: pointer !important;
	
				strong {
					border: none;
					text-decoration: none;
					color: #0B315E;
				}
	
				&:hover {
					background-color: darken(#FAF5EF, 5%); 
				}
			}
	
			.click-me {
				border: unset;
				background-color: #0B315E;
				color: #FAF5EF;
				width: 280px;
	
				strong {
					text-decoration: none;
					color: #FAF5EF;
				} 
	
				&:hover {
					text-decoration: none;
					background-color: lighten(#0B315E, 20%) !important;
					border: unset !important;
				}
			}
		}
	}
}

@media (max-width: 1015px) {
	.first-container {
		background-size: 200% 200%;
		background-position: center;
		background-repeat: no-repeat;

		.container-blur {
			padding: 0;
			justify-content: center;
			margin-top: 10%;
			top: 160px;

			.image {
				width: 50%;
				height: 50%;
				margin-left: -500px !important;
			}
		}

		.dark-glass-background {
			margin-top: 150px;
			padding: 20px;
			border: unset;

			.title  {
				text-align: center;
			}

			.subtitle {
				padding: 20px;
				padding-bottom: 30px;
				text-align: center;
			}

			.button-container {
				flex-direction: column;

				.button {
					width: 280px;

					&:hover {
						background-color: darken(#FAF5EF, 5%);
						border: 2px solid darken(#FAF5EF, 5%);
					}
				}
			}
		}
	}
}

@keyframes spinAnimation {
	from {
		transform: rotate(180deg);
	}

	to {
		transform: rotate(900deg);
	}
}