.container-blur {
	background: url("../svg/Circles-2.svg") no-repeat;
	background-size: 1000px 600px;
	filter: blur(2px);
	height: 500px;
	border: 1px solid #0B315E;
}

.first-container {
	position: absolute;
	top: 35px;
	width: 100%;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 100px;
	padding-bottom: 150px;

	.title {
		padding: 20px;
		font-size: 30pt;

		strong {
			font-size: 35pt; 
		}
	}

	.subtitle {
		color: lighten(#1F1F1F, 10%);
		padding: 10px;
		padding-bottom: 30px;
		font-size: 20pt;
		text-align: justify;
	}

	.button-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 20px;

		.button {
			width: 280px;
			display: inline-block;
			padding: 10px;
			border: 2px solid #d1dee0;
			border-radius: 5px;
			background-color: transparent;
			transition: all .5s ease-out;
			font-size: 18pt;
			cursor: pointer !important;

			strong {
				border: none;
				text-decoration: none;
				color: #0B315E;
			}

			&:hover {
				background-color: darken(#d1dee0, 1%); 
			}
		}

		.click-me {
			border: unset;
			background-color: #0B315E;
			color: #fcfcfd;

			strong {
				text-decoration: none;
				color: #fcfcfd;
			} 

			&:hover {
				text-decoration: none;
				background-color: lighten(#0B315E, 20%);
			}
		}
	}
}

@media (max-width: 1015px) {
	.first-container {
		.title  {
			text-align: center;
		}

		.subtitle {
			padding: 20px;
			padding-bottom: 30px;
			text-align: center;
		}

		.button-container {
			flex-direction: column;
		}
	}
}
