.navbar {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #FAF5EF;

	.nav-main {
		display: flex;
		flex-direction: row;

		.logo {
			padding: 25px;
			height: 60px;
		}

		.responsivity-button {
			display: none;
			border: unset;
			background-color: unset;
			font-size: 30px;
			cursor: pointer;
	
			i {
				color: #0B315E;
			}
	
			&:focus {
				outline-style: unset;
			}
		}
	}

	.nav-menu {
		display: inline-block;

		a {
			text-decoration: none;
			color: #0B315E;
			margin-left: 10px;
			margin-right: 10px;
			transition: .3s;

			&:hover {
				font-weight: bold;
			}

			&:focus {
				font-weight: bold;
			}
		}
	}

	.active {
		color: #0B315E;
	}
}

@media (max-width: 1015px) {
	.navbar {
		flex-direction: column;

		.nav-main {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding-left: 20px;
			padding-right: 20px;
			width: 100%;

			z-index: 2;

			justify-content: space-between;

			.responsivity-button {
				display: block;
				margin-right: 10px;
			}
		}

		.over {
			box-shadow: 0 2px 0 #0B315E;
		}

		.nav-menu {
			display: none;
		}

		.show {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			background-color: darken(#FAF5EF, 2%);

			a {
				font-size: 20pt;
				padding: 10px;

				&:last-child {
					padding-bottom: 20px;
				}
			}

			width: 100%;
			padding: 20px;
			padding-bottom: 0;
		}
	}
}