.content-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-color: #0B315E;
    padding-top: 50px;
    padding-bottom: 50px;

    &::after {
        content: "";
        position: absolute;
        width: 5px;
        background-color: #fcfcfd;
        top: 0;
        bottom: 0;
        left: calc(50% - 2.5px);
        transition: .5s;
    }

    .content {
        padding: 10px calc(((50% - 2.5px) - 40%) / 2);
        position: relative;
        background-color: inherit;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
            content: "";
            position: absolute;
            width: 25px;
            height: 25px;
            background-color: #0B315E;
            border: 4px solid #fcfcfd;
            top: 30px;
            border-radius: 50%;
            z-index: 1;
            transition: .5s;
        }

        .info {
            width: 100%;
            background-color: #fcfcfd;
            position: relative;
            border-radius: 10px;
            transition: .5s;

            h3 {
                width: 100%;
                text-align: center;
                padding: 5px;
                font-size: 16pt;

                strong {
                    color: #1F1F1F;
                }
            }
        }

        .left {
            &::before {
                content: " ";
                height: 0;
                position: absolute;
                top: 25px;
                width: 0;
                right: 0;
                left: 100%;
                z-index: 1;
                border: medium solid #fcfcfd;
                border-width: 10px 0 10px 10px;
                border-color: transparent transparent transparent #fcfcfd;
            }
        }

        .right {
            &::before {
                content: " ";
                height: 0;
                position: absolute;
                top: 25px;
                width: 0;
                right: 100%;
                z-index: 1;
                border: medium solid #fcfcfd;
                border-width: 10px 10px 10px 10px;
                border-color: transparent #fcfcfd transparent transparent;
            }
        }
    }

    & > .left {
        &::after {
            left: calc(100% - 13px);
        }
    }

    & > .right {
        left: calc(50% + 2.5px);

        &::after {
            right: calc(100% - 13px);
        }
    }
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    .content-wrapper {
        &::after {
            left: 31px;
        }

        .content {
            width: 80%;
            padding-left: 70px;
            padding-right: 25px;

            &::before {
                left: 60px;
                border: medium solid #fcfcfd;
                border-width: 10px 10px 10px 0;
                border-color: transparent #fcfcfd transparent transparent;
            }
        }

        .left {
            &::after {
                left: 15px;
            }

            &::before {
                left: unset !important;
                right: 100% !important;

                border-width: 10px 10px 10px 10px !important;
                border-color: transparent #fcfcfd transparent transparent !important;
            }
        }

        .right {
            left: 0%;

            &::after {
                left: 15px;
            }
        }
    }
}
